<fieldset>
  <div>
    <label for="{{input.text.id}}">{{input.text.labelcontent}}</label>
    <input class="{{input.text.class}}" id="{{input.text.id}}" type="text" placeholder="{{input.text.placeholder}}">
  </div>
  <div>
    <label for="{{input.password.id}}">{{input.password.labelcontent}}</label>
    <input class="{{input.password.class}}" id="{{input.password.id}}" type="password" placeholder="{{input.password.placeholder}}">
  </div>
  <div>
    <label for="{{input.checkbox.id}}">{{input.checkbox.labelcontent}}</label>
    <input class="{{input.checkbox.class}}" id="{{input.checkbox.id}}" type="checkbox">
  </div>
  <div>
    <label for="{{input.radio.id}}">{{input.radio.labelcontent}}</label>
    <input class="{{input.radio.class}}" id="{{input.radio.id}}" type="radio">
  </div>
  <div>
    <label for="{{input.url.id}}">{{input.url.labelcontent}}</label>
    <input class="{{input.url.class}}" id="{{input.url.id}}" type="url" placeholder="{{input.url.placeholder}}">
  </div>
  <div>
    <label for="{{input.email.id}}">{{input.email.labelcontent}}</label>
    <input class="{{input.email.class}}" id="{{input.email.id}}" type="email" placeholder="{{input.email.placeholder}}">
  </div>
  <div>
    <label for="{{input.search.id}}">{{input.search.labelcontent}}</label>
    <input class="{{input.search.class}}" id="{{input.search.id}}" type="search" placeholder="{{input.search.placeholder}}">
  </div>
</fieldset>
