<div class="{{logo.class}}">
  <a href="{{logo.a.href}}" title="{{logo.a.title}}" class="{{logo.a.class}}">
    <img src="{{logo.img.src}}" alt="{{logo.img.alt}}" class="{{logo.img.class}}">
  </a>
</div>