<nav id="{{nav.id}}" class="{{nav.class}}">
  <ul>
    {% for item in nav.list.listItems %}
      <li class="{{ item.class }}"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.shortTitle }}</a></li>
    {% endfor %}
  </ul>
</nav>
