<html class="{{htmlClasses}}">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    {{cssFiles}}

  </head>
  <body class="{{bodyClasses}}">

    {{content}}

    {{jsFiles}}

  </body>
</html>
