<ul class="sg-colors">
  <li>
    <span class="sg-swatch {{colors.color1.class}}"></span>
    <span class="sg-label">{{colors.color1.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color2.class}}"></span>
    <span class="sg-label">{{colors.color2.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color3.class}}"></span>
    <span class="sg-label">{{colors.color3.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color4.class}}"></span>
    <span class="sg-label">{{colors.color4.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color5.class}}"></span>
    <span class="sg-label">{{colors.color5.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color6.class}}"></span>
    <span class="sg-label">{{colors.color6.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color7.class}}"></span>
    <span class="sg-label">{{colors.color7.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color8.class}}"></span>
    <span class="sg-label">{{colors.color8.text}}</span>
  </li>
  <li>
    <span class="sg-swatch {{colors.color9.class}}"></span>
    <span class="sg-label">{{colors.color9.text}}</span>
  </li>
</ul>