<div class="{{slider.class}}">

  <div class="{{slider.buttons.next.class}}">{{slider.buttons.next.text}}</div>
  
  <div class="{{slider.container.class}}">
  
    {% for slide in slider.slides %}

      {% include 'molecules/components/promo/promo.twig' with {'promo': slide} %}
      
    {% endfor %}
    
  </div

  <div class="{{slider.buttons.previous.class}}">{{slider.buttons.previous.text}}</div>
  
</div>