<select name="{{select.name}}" id="{{select.id}}" class="{{select.class}}">
  {% for option in options %}
    <option class="{{option.class}}" value="{{option.value}}">{{ option.text}}</option>
  {% endfor %}
</select>

