<fieldset>
  <div>
    <label for="{{input.color.id}}">{{input.color.labelcontent}}</label>
    <input class="{{input.color.class}}" id="{{input.color.id}}" type="color" placeholder="{{input.color.placeholder}}" value="{{input.color.value}}">
  </div>
  <div>
    <label for="{{input.number.id}}">{{input.number.labelcontent}}</label>
    <input class="{{input.number.class}}" id="{{input.number.id}}" type="number">
  </div>
  <div>
    <label for="{{input.range.id}}">{{input.range.labelcontent}}</label>
    <input class="{{input.range.class}}" id="{{input.range.id}}" type="range" min="{{input.range.min}}" max="{{input.range.max}}">
  </div>
  <div>
    <label for="{{input.date.id}}">{{input.date.labelcontent}}</label>
    <input class="{{input.date.class}}" id="{{input.date.id}}" type="date" value="{{input.date.value}}">
  </div>
  <div>
    <label for="{{input.month.id}}">{{input.month.labelcontent}}</label>
    <input class="{{input.month.class}}" id="{{input.month.id}}" type="month" value="{{input.month.value}}">
  </div>
  <div>
    <label for="{{input.week.id}}">{{input.week.labelcontent}}</label>
    <input class="{{input.week.class}}" id="{{input.week.id}}" type="week" value="{{input.week.value}}">
  </div>
  <div>
    <label for="{{input.datetime.id}}">{{input.datetime.labelcontent}}</label>
    <input class="{{input.datetime.class}}" id="{{input.datetime.id}}" type="datetime" value="{{input.datetime.value}}">
  </div>
  <div>
    <label for="{{input.datetimeLocal.id}}">{{input.datetimeLocal.labelcontent}}</label>
    <input class="{{input.datetimeLocal.class}}" id="{{input.datetimeLocal.id}}" type="datetime-local" value="{{input.datetimeLocal.value}}">
  </div>
</fieldset>
