<p class="{{visibility.versions.small.class}}">This text is hidden on smaller screens</p>

<p class="{{visibility.versions.small.class}} {{visibility.versions.med.class}}"><em>This text is only visible on smaller screens</em></p>

<p class="{{visibility.versions.med.class}}">This text is hidden on medium screens only</p>

<p class="{{visibility.versions.small.class}} {{visibility.versions.large.class}}"><em>This text is only visible on medium screens</em></p>

<p class="{{visibility.versions.large.class}}">This text is hidden on large screens</p>

<p class="{{visibility.versions.small.class}} {{visibility.versions.med.class}}"><em>This text is only visible on large screens</em></p>